In [1]:
import pickle

import pandas as pd

import numpy as np

from sklearn import datasets

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

In [4]:
iris = datasets.load_iris()

In [11]:
type(iris)

sklearn.utils._bunch.Bunch

In [12]:
type(iris.data)

numpy.ndarray

In [5]:
data = pd.DataFrame(
    {
        "sepalLength": iris.data[:, 0],
        "sepalWidth": iris.data[:, 1],
        "petalLength": iris.data[:, 2],
        "petalWidth": iris.data[:, 3],
        "species": iris.target,
    }
)

In [6]:
data.head()

   sepalLength  sepalWidth  petalLength  petalWidth  species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

In [7]:
data.tail()

     sepalLength  sepalWidth  petalLength  petalWidth  species
145          6.7         3.0          5.2         2.3        2
146          6.3         2.5          5.0         1.9        2
147          6.5         3.0          5.2         2.0        2
148          6.2         3.4          5.4         2.3        2
149          5.9         3.0          5.1         1.8        2

In [13]:
X = data[["sepalLength", "sepalWidth", "petalLength", "petalWidth"]]  # Features
y = data["species"]  # Label

In [14]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3
)  # 70% training and 30% test
# shuffle: bool, default=True

In [16]:
type(X_train)

pandas.core.frame.DataFrame

In [17]:
X_train.head()

     sepalLength  sepalWidth  petalLength  petalWidth
46           5.1         3.8          1.6         0.2
24           4.8         3.4          1.9         0.2
100          6.3         3.3          6.0         2.5
92           5.8         2.6          4.0         1.2
5            5.4         3.9          1.7         0.4

In [18]:
# Create a Gaussian Classifier
model = RandomForestClassifier(n_estimators=100)

In [ ]:
# Now fit the model on the training data.