In [25]:
import pickle

import pandas as pd

import numpy as np

from sklearn import datasets

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

In [2]:
iris = datasets.load_iris()

In [3]:
type(iris)

sklearn.utils._bunch.Bunch

In [4]:
type(iris.data)

numpy.ndarray

In [5]:
data = pd.DataFrame(
    {
        "sepalLength": iris.data[:, 0],
        "sepalWidth": iris.data[:, 1],
        "petalLength": iris.data[:, 2],
        "petalWidth": iris.data[:, 3],
        "species": iris.target,
    }
)

In [6]:
data.head()

   sepalLength  sepalWidth  petalLength  petalWidth  species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

In [7]:
data.tail()

     sepalLength  sepalWidth  petalLength  petalWidth  species
145          6.7         3.0          5.2         2.3        2
146          6.3         2.5          5.0         1.9        2
147          6.5         3.0          5.2         2.0        2
148          6.2         3.4          5.4         2.3        2
149          5.9         3.0          5.1         1.8        2

In [8]:
X = data[["sepalLength", "sepalWidth", "petalLength", "petalWidth"]]  # Features
y = data["species"]  # Label

In [9]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3
)  # 70% training and 30% test
# shuffle: bool, default=True

In [10]:
type(X_train)

pandas.core.frame.DataFrame

In [11]:
X_train.head()

     sepalLength  sepalWidth  petalLength  petalWidth
71           6.1         2.8          4.0         1.3
26           5.0         3.4          1.6         0.4
107          7.3         2.9          6.3         1.8
18           5.7         3.8          1.7         0.3
2            4.7         3.2          1.3         0.2

In [15]:
# Create a Gaussian Classifier
model = RandomForestClassifier(n_estimators=100)

In [16]:
# Now fit the model on the training data. Remember that a machine learning algorithm is a type of algorithm that learns as we expose it to data. 
# The fit methods essentially trains the machine learning model
# We train it on the training dataset
model.fit(X_train, y_train)

RandomForestClassifier()

In [18]:
# Now we can test how well our machine learning model does on the test data set. The test dataset has never been seen by our machine learning model
# So it is making predictions based on the previous data that we fed to it
y_pred = model.predict(X_test)

In [19]:
type(y_pred)

numpy.ndarray

In [21]:
# convert this numpy array to a dataframe for easier comparisons
pred = pd.DataFrame(
    {
        "predictions": y_pred,
        "Actual_values": y_test,
    }
)

In [22]:
pred.head(10)

     predictions  Actual_values
79             1              1
7              0              0
16             0              0
25             0              0
0              0              0
130            2              2
55             1              1
17             0              0
136            2              2
47             0              0

In [29]:
pred.tail(10)

     predictions  Actual_values
108            2              2
143            2              2
45             0              0
61             1              1
58             1              1
5              0              0
69             1              1
78             1              1
103            2              2
91             1              1

In [26]:
# We can check our accuracy
accuracy_score(pred['Actual_values'],pred['predictions'])

0.9777777777777777

In [28]:
# We can use the model to predict any values
model.predict([[5, 3, 1.6, 0.2]])

/opt/app-root/lib64/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0])

In [31]:
# We can also save our model to the disk
filename = "iris-model.pkl"
pickle.dump(model, open(filename, "wb"))